<div class="page-header">
  <h2>Sign up</h2>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-horizontal", role: "form"} ) do |f| %>

  <% if resource.errors.full_messages.map.count > 0 %>
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <%= devise_error_messages! %>
  </div>
  <% end %>


  <% @new_user_columns.each do |col| %>
    <div class="form-group">

      <%# Print the label %>
      <%= f.label col, class: "control-label col-sm-3" %>

      <%# Create the input %>
      <div class="col-sm-4">
        <% field_options = {"class" => "form-control"} %>
        <%= case col 
        when :first_name
          field_options["autofocus"] = "true" 
          f.text_field col, field_options
        when :email
          f.email_field col, field_options
        when :password
          field_options["autocomplete"] = "off"
          if @validatable
            field_options.merge!( {"data-toggle" => "tooltip", "data-placement" => 'right', "title" => "#{@minimum_password_length} characters minimum" } )
          end
          f.password_field col, field_options
        when :password_confirmation
          field_options["autocomplete"] = "off"
          f.password_field col, field_options
        else
          f.text_field col, field_options
        end
        %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-4">
      <%= f.submit "Sign up", class: "btn btn-default" %>
    </div>
  </div>

<% end %>

<div class="col-md-offset-3 col-md-6">
  <%= render "devise/shared/links" %>
</div>
