<div class="navbar-wrapper">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

      <div class="navbar-header">
        <%#-- Button to contain the menu options when the menu is collapsed. %>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%=  %>
        <%#-- Link to the icon %>
        <%= link_to image_tag("gas-nozzle-icon-no-bg.png", alt: "Brand Text", size: "100x100") + " Fuel My Maintenance", static_pages_home_path, class: "navbar-brand" %>
      </div>

      <%# Class to designate the menu below is pulled into the collapse button menu %>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to "About", static_pages_about_path %></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <%# Start the drop down menu section %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "About", static_pages_about_path %></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>

            <%# Start the user signed in down menu section %>
            <li class="dropdown navbar-right">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= gravatar_for( current_user, 24) + sanitize(" &diams; ") + current_user.display_name %><span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "Profile", profile_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Sign Out", sign_out_path %></li>
              </ul>
            </li>

          <% else %>
            <%= form_for(:user, url: session_path(:user), html: {class: "nav navbar-form navbar-right", role: "form"}) do |f| %>
              <div class="form-group">
                <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
              </div>
              <div class="form-group">
                <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
              </div>
              <%= f.submit "Sign in", class: "btn btn-success" %>
            <% end %>
          <% end %>
        </ul>
      </div>      
    </div>
  </nav>
</div>