<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
	<%# menu with the icon %>
	<%= render 'layouts/icon_menu' %>

	<%# Bootstrap formating %>
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-md-offset-2 col-md-8">
				  <%# flash-messages-partial %>
				  <%= render 'layouts/flash_messages' %>
        </div>
			</div>
      <div class="row">
        <div class="col-md-2 car-panel">
          cars
        </div>
        <div class="col-md-8 main-panel">

			   <%= yield %>
		    </div>
        <div class="col-md-2 advertising-panel">
          ads
        </div>
      </div>
    </div>
  </div>		
</body>
</html>
